@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --bg-overlay: rgba(0, 0, 0, 0.8);
  --box-shadow: 00 0.4rem 0.4rem rgb(202, 233, 228);
}
/* 
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */


[role="button"] {
  cursor: pointer;
}

/* Custom scrollbar width and color */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* change this to control the width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* optional */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scroll */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
